<div  id="message-<%= message.id %>">
  <i>
    <span class="author"><%= message.user.username %></span>
    <small><%= message.created_at.strftime("%H:%M") %></small>
  </i>
  <p class="message-container"><%= message.content %></p>
</div>
