<h1> You created your account successfully </h1>
<h2> Please double check your information, pick an avatar & pick your interests</h2>

<% Avatar.all.each do |avatar| %>
  <img src="<%=avatar.image_url%>">
<% end %>

<!--  pick your interests -->
