<div class="footer">
  <div class="container">
    <footer>
      <ul class="nav justify-content-center">
        <li class="nav-item"><a href="#" class="nav-link px-2">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">About</a></li>
      </ul>
      <p class="text-center">Hey Bud created with  <i class="fas fa-heart"></i> @ LeWagon Batch 671</p>
      <p class="text-center mb-0">© 2021 Company, Inc</p>
    </footer>
  </div>
</div>
