
<div class="description-background min-height">
  <div class="container description-background">
    <br />
    <div class="card description-background center" style="width: 450px">
      <div class="card-body ">
        <%= simple_form_for(@user_interest) do |f| %>
        <%=  f.input :description,:input_html => { maxlength: 100, :cols => 3, :rows => 5 } %>
        <%= f.submit %>
        <% end %>
      </div>
    </div>
    <br />
  </div>
</div>
