<div class="description-background">
  <div class="container description-background">
    <br />
    <div class="card description-background" style="width: 15rem"  style="border-radius: 25px">
      <div class="card-body ">
        <%= simple_form_for(@user_interest) do |f| %>
        <strong><em><%= f.label :description %></em>
        <p><%= f.text_field :description %></p>
        <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
