.myButton {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
  box-shadow: -18px 10px #888888;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#74d3ba;
	border-radius:9px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	padding:3px 5px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.myButton:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}

.heyBudButton {
  background-color: #FEC260;
  font-family: "Anton";
  color: #A12568;
	font-size:20px;
	font-weight: 400;
  border-radius: 60px;
  border: none;
  text-align: center;
  padding: 10px 20px;
}

.heyBudButton.chatbutton {
  background-color: #A12568;
  color: #FEC260;
  border-radius: 0px 25px 25px 0px;
}

.heyBudButton:hover {
  background-color:#A12568;
  color: #FEC260;
  cursor: pointer;
}

.heyBudButton-chat-discover {
  background-color: #A12568;
  font-family: "Anton";
  color: #FEC260;
	font-size:20px;
	font-weight: 400;
  border-radius: 60px;
  border: none;
  text-align: center;
  padding: 10px 20px;
  align: center;
}

.heyBudButton-chat-discover:hover {
  color: white;
}


.center-button {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
