.card-chatpartner {
    background-color: #FFE5BB;
    // box-shadow: 0 8px 16px -8px rgb(0, 0, 0, 40%);
    overflow: hidden;
    position: relative;
    // margin: 1.5rem;
    border-radius: 5px;
    text-decoration: none;
}

.card-body {
  color: black;
}

.card-body:hover {
  background-color: #A12568;
  color: white !important;
}

.card-chatpartner:nth-child(2) {
  background-color: #FEC260;
}

.chatpartner-column {
  margin: 1.5rem 0;
}

#messages {
      height: 65vh;
    overflow: scroll;
}


.message-container {
       background-color: #FFE5BB;
      padding: 8px 16px;
      border-radius: 20px;
}

.message-container2 {
    background-color: #A12568;
    padding: 8px 16px;
    border-radius: 20px;
    color: white;
}

// .message-content-container {
//        background-color: #00ff22;
//       padding: 8px 16px;
//       border-radius: 20px;
// }

// .last-message {
//   color: #000000;
//   text-decoration: none;
// }

// .chatpartner {
//   color: #000000;
//   text-decoration: none;
// }

.chat-column {
  background-color: white;
  margin: 1.5rem;
  border-radius: 60px;
  padding: 10px 20px;
}

.message {
  display: inline-block;

}
    //   display: inline-block;
    //   .content {
    //    background-color: #eeeeee;
    //     padding: 8px 16px;
    //     border-radius: 20px;
    //   }
    //


.message-me {
//  float: right;
  justify-content: flex-end;
  background-color: #A12568;
}


.chat-box {
  padding: 20px;
  input:nth-child(1) {
  width: 100%;
  border-radius: 25px 0px 0px 25px;
  padding-left: 18px;
  }
}

// .chat-box {
//      position: absolute;
//      bottom: 0;
//
//      width: calc(100% - 15px);
//      width: 70%;
//      input[type="text"] {
//        height: 45px;
//        font-size: 18px;
//        padding: 8px;
//      }
//      .btn {
//        height: 45px;
//      }
//    }



// .chat-room {
//   height: 100vh;
//   overflow-y: hidden;
//   .message {
//     display: inline-block;
//     .content {
//       background-color: #eeeeee;
//       padding: 8px 16px;
//       border-radius: 20px;
//     }
//     .author {
//       font-size: 0.8rem;
//       color: grey;
//       margin-left: 10px;
//     }
//   }
//   .chat-box {
//     position: absolute;
//     bottom: 0;
//     padding: 20px;
//     // width: calc(100% - 15px);
//     width: 70%;
//     input[type="text"] {
//       height: 45px;
//       font-size: 18px;
//       padding: 8px;
//     }
//     .btn {
//       height: 45px;
//     }
//   }
// }
