.description-background {
  background: #FFE5BB;


}

.description {
  height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  max-width: 940px;
  margin: 0 auto;
  }


.text-description {
  font-size: 20px;
  width: 50%;
  line-height: 30px;
}

.description-image {
  height: 275px;
}

.description-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.min-height{
    min-height: 100vh;
}
.scroll{
overflow: auto;
max-height: 50px;
margin-bottom: 0;
}
.scroll::-webkit-scrollbar {
    display: none;
}

.scroll::-webkit-scrollbar-track {
    display: none;
}

.scroll::-webkit-scrollbar-thumb {
    display: none;
}
