.footer{
    background: #2A0944;
    // position: fixed;
    bottom: 0;
    width: 100%;
    color: #FEC260;
}

.nav-link{
  color: white;
}

.footer .fa-heart {
  color: #D23333;
}

.link-footer {
  color: white;
  padding: 0.5rem 1rem;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  display: block;
}

.link-footer:hover {
  color: #FEC260;
}
