.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    border-radius: 50rem;
    padding: 10px 20px;
    background-color: #A12568;
    color: #FEC260;
    border: 3px solid #A12568;
    margin: 5px;
}

.tag-selector:checked + label {
  background-color: #FEC260;
  color: white;
}
