.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link-header{
  background: #A12568;
  border-radius: 5px;
  width: 100px;
  height: 48px;
  font-size: 25px;
  font-weight: bolder;
}

.navbar-main{
  background: #2A0944;
}

.navbar-light .navbar-nav .nav-link{
  color: #FEC260;
}
