.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link-header{
  background: #A12568;
  border-radius: 5px;
  width: 100px;
  height: 48px;
  font-size: 25px;
  font-weight: bolder;
}

.navbar-main{
  background: #2A0944;
}

.navbar-light .navbar-nav .nav-link{
  color: #FEC260;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
    border-radius: 20px;
}

.dropdown-item {
  border-radius: 20px;
}

.dropdown-item:hover {
  border-radius: 20px;
  color: #A12568;
}

.dropdown-toggle:empty::after {
  color: white;
}

.dropdown-toggle::after {
  color: white;
}

.nav-item{
  font-family: "Anton";
  letter-spacing: 1px;
  margin-right: 5px;
  border-radius: 5%;
  text-align: center;
}

.navbar{
background-color: #A12568;
position: sticky;
top: 0;
z-index: 100;
}
