.rcorners1 {
  border-radius: 25px;
  background: #FEC260;
  padding: 20px;
  width: 200px;
  height: 150px;
  box-shadow: -18px 18px 0px #bd975a;
}
.rcorners1:hover{
  box-shadow: 0 14px 28px
  rgba(0,0,0,0.25), 0 10px 10px
  rgba(0,0,0,0.22);
}
