.container-signin {
  background: #FEC260;
  min-height: 83.5vh;
}

.signin-page-content {
  padding-top: 5rem;
}

.signinform {
  padding: 10;
}

.signinform-input {
  border: 3.5px solid;
  border-radius: 15px;
  border-color: #A12568;
}
