.sign-up-div {
  margin-top: 40px;
  margin-bottom: 40px;
}

.sign-up-page {
  font-family: Anton;
  color: #FEC260;
}

.container-signup {
  background-color: #2A0944;
}

.container-top h1 {
  color: #3B185F;
}

.container-top h2 {
  color: #3B185F;
}

.main-container {
  min-height: 80vh;
}
